.btn {
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.contact-form-container {
  text-align: center;
  padding: 20px;
}

.contact-header {
  color: rgb(0, 0, 0);
  font-size: 50px;
  font-weight: bold;
}
